<!-- <h1>Welcome!</h1> -->



<!-- <fieldset>
<legend><h2>Register</h2></legend>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <p> <label for="name">Name: <input type="text" id='name' name="user[name]"></label> </p>
  
  <p> <label for="email">Email: <input type="text" id='email' name="user[email]"></label> </p>

  <p> <label for="password">Password: <input type="password" id='password' name="user[password]"></label> </p>
  *Password should be atleast 8 characters
  <p> <label>Confirm PW: <input type="password" name="user[password_confirmation]"></label> </p>
  <p> <label>Description: <input type="text" id='description' name="user[description]"></label> </p> 
  <input type="submit" value="Register">
</form>
</fieldset> -->
<!-- <br>
<a href="/sessions/new">Already a member?</a>
 -->